body {
    background-image: url('/images/bj.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: #fff8f8;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 15px 20px;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}

.navbar a,
.nav-list li a {
    color: #6c6d60;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
    transition: text-decoration 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar a:hover,
.navbar.dark a:hover,
.navbar .dropdown-item a:hover,
.navbar.dark .dropdown-item a:hover {
    color: rgb(255, 238, 186);
}

.navbar.dark {
    background-color: #47473f;
    color: white;
}

.navbar.dark a,
.navbar.dark .nav-list li a,
.navbar.dark .dropdown-item a {
    color: white;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    position: relative;
}

.nav-list li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(249, 249, 249);
}

.dropdown {
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #6c6d60;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.navbar.dark .dropdown-content {
    background-color: #515248;
}

.dropdown-item {
    padding: 10px 15px;
}

.dropdown-item a {
    color: black;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.dropdown-item a:hover {
    color: var(--text-color);
}

.blackjack-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color:  rgb(126, 126, 113);
    border-radius: 12px;
    box-shadow: 0 0 15px rgb(255, 249, 145);
}

#bet {
    padding: 10px;
    font-size: 16px;
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ffe1e16f;
    background-color: rgb(45, 46, 36);
    color: #ffffff;
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    
    border-radius: 8px;
    background-color: rgb(45, 46, 36);
    color: rgb(255, 249, 145);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgb(227, 227, 162);
}

button:hover {
    background-color: rgb(29, 30, 24);
    color: rgb(207, 202, 115);
    transform: translateY(+2px);
    box-shadow: 0 6px 12px rgba(119, 106, 106, 0.15);
}

.game-area {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

#dealer, #player {
    width: 45%;
    background-color: rgb(77, 77, 61);
    padding: 15px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px #000000;
}

#dealer-hand, #player-hand {
    min-height: 100px;
    padding: 10px;
    background-color: rgb(29, 30, 24);
    border: 2px dashed #444;
    border-radius: 6px;
    margin-top: 10px;
}

.controls {
    text-align: center;
    margin-top: 30px;
}

#result {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #00ff88;
}


#floatingBalance {
    position: fixed;
    top: 0px;
    right: 15px;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: rgba(41, 41, 43, 0.7);
    padding: 4px 8px;
    border-radius: 10px;
    color: rgb(255, 212, 55);
    font-weight: bold;
    gap: 6px; 
}

#floatingBalance .balance-icon {
    margin-top: 10px;
    width: 70px;
    height: auto;
    scale: 1.9;
    object-fit: contain;
}