:root {
    --main-bg-color: rgb(47, 72, 109);
    --hover-bg-color: rgb(236, 229, 218);
    --text-color: rgb(236, 229, 218);
    --hover-text-color: rgb(236, 229, 218);
    --dropdown-hover-bg-color: green;
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: white;
    color: black;
}

body.dark .navbar {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

.navbar a,
.nav-list li a {
    color: black;
}

body.dark .navbar a,
body.dark .nav-list li a {
    color: var(--text-color);
}

.navbar a:hover,
.navbar .dropdown-item a:hover,
.navbar .nav-list li a:hover {
    color: rgb(153, 0, 255);
}

.navbar.dark a:hover,
.navbar.dark .dropdown-item a:hover {
    color: var(--hover-text-color);
    background-color: var(--dropdown-hover-bg-color);
}

.dropdown-content {
    background-color: white;
    color: black;
}

body.dark .dropdown-content {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

.dropdown-item a {
    color: black;
}

body.dark .dropdown-item a {
    color: var(--text-color);
}

.dropdown-item a:hover {
    color: var(--hover-text-color);
    background-color: var(--dropdown-hover-bg-color);
}

.balance {
    color: black;
}

body.dark .balance {
    color: var(--text-color);
}

.page-title,
.title,
.game-info h2,
.game-info p {
    color: black;
}

body.dark .page-title,
body.dark .title,
body.dark .game-info h2,
body.dark .game-info p {
    color: var(--text-color);
}

.game-card {
    background: white;
    color: black;
}

body.dark .game-card {
    background: black;
    color: var(--text-color);
}

.game-card a {
    color: inherit;
}

.setting-item label {
    color: black;
}

body.dark .setting-item label {
    color: var(--text-color);
}

body.dark .site-banner {
    background-color: rgba(0, 0, 0, 0.6);
}