:root {
  --main-bg-color: rgb(47, 72, 109);
  --hover-bg-color: rgb(236, 229, 218);
  --text-color: rgb(236, 229, 218);
  --hover-text-color: rgb(236, 229, 218);
  --dropdown-hover-bg-color: green;
}

body {
  background-color: #151510;
  color: white;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}
canvas {
  background: #222;
  display: flex;
  margin: 20px auto;
  border: 2px solid #fff;
}
#controls {
  margin-top: 10px;
}
input{
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 15px 20px;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

.navbar a,
.nav-list li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
  transition: text-decoration 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar a:hover,
.navbar.dark a:hover,
.navbar .dropdown-item a:hover,
.navbar.dark .dropdown-item a:hover {
  color: rgb(255, 238, 186);
}

.navbar.dark {
  background-color: #47473f;
  color: white;
}

.navbar.dark a,
.navbar.dark .nav-list li a,
.navbar.dark .dropdown-item a {
  color: white;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  position: relative;
}

.nav-list li a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(249, 249, 249);
}

.dropdown {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  z-index: 1;
  top: 100%;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: black;
}

.dropdown-content.show {
  display: flex;
  opacity: 1;
}

.navbar.dark .dropdown-content {
  background-color: #515248;
}

.dropdown-item {
  padding: 10px 15px;
}

.dropdown-item a {
  color: black;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
.dropButton {
  width: 90px;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(45, 46, 36);
  color: rgb(255, 249, 145);
  margin: 0;
  transition: background-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.dropButton:hover {
  background-color: rgb(29, 30, 24);
  color: rgb(207, 202, 115);
  transform: translateY(+2px);
  box-shadow: 0 6px 12px rgba(119, 106, 106, 0.15);
}